.add-btn{
  background-color: black;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-inline:auto;
  margin-top: 1rem;
}

.add-btn span {
  color: white;
}

.add-btn:active {
  transform: scale(0.9);
}